h2{
    text-align: center;
    color: #08cbcb;
    font-size: 40px;
}

p{
    font-size:20px;
}

button {
    margin: 20px;
  }
  .custom-btn {
    width: 300px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     
    outline: none;
  }

  .btn-1{

    text-decoration: none;
    background:#0DA7BA;
    text-align:center;
    color:#FFFFFF;
    font-size:20px;
    font-weight:bold;
    border-radius:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    
  }
  .btn-1:hover{
    background:#19CBE0;
    color:#FFFFFF;
    box-shadow:none;
  }
  

div.clskweckbft{
    margin:5px;
}
div.clskweckbft div.tbl table{
    width:50%;
    margin-left: auto;
    margin-right: auto;
}
div.clskweckbft div.tbl tr th.emph,div.clskweckbft div.tbl tr td.emph{
    -webkit-box-shadow:inset #cccccc 0 0 0 1px;
    box-shadow:inset #cccccc 0 0 0 1px;
}
div.clskweckbft div.tbl th.nowrap,div.clskweckbft div.tbl td.nowrap{
    white-space:nowrap;
}
div.clskweckbft{
    padding:0px;
}
div.clskweckbft div.tbl th,div.clskweckbft div.tbl td{
    border:1px solid;
    padding:5px;
}
div.clskweckbft th, div.clskweckbft td{
    color:#000000;
}
div.clskweckbft div.tbl table{
    border-collapse:collapse;
    border-spacing:0;
    table-layout:fixed;
    border:1px solid;
}

div.clskweckbft div.tbl{
    font-size:20px;
}
div.clskweckbft div.tbl th,div.clskweckbft div.tbl th a{
    color:#ffffff;
}
div.clskweckbft div.tbl th{
    font-weight:bold;
    text-align:center;
    background-color: #08cbcb;
    border: 1px solid #000000;
}
div.clskweckbft div.tbl tr th.emph,div.clskweckbft div.tbl tr td.emph{
    -webkit-box-shadow:inset #cccccc 0 0 0 1px;
    box-shadow:inset #cccccc 0 0 0 1px;
}
div.clskweckbft{
    background-color:transparent;
}
  
div.clskweckbft input[type="submit"]{
    background-color: #FFFFFF;
    width:75px;
    color:red;
    border:1px solid;
}

div.clskweckbft input[type="submit"]:hover{
    border:1px solid red;
    color:#FFFFFF;
    background-color: red;
}



*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}
.info {
    margin: 1em auto;
    padding: 0 1.5em;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 1em;
    line-height: 1.3;
    color: #444;
    overflow: auto; /*overflow: auto;で、dlの高さが10emになるとスクロールバーを表示*/
    width: 60%;
    height: 20em;
    background-color: #fcfcfc;
}
.info dl {
    padding: 0.5em 0;
    border-bottom: 1px solid #ccc;
}
.info dt {
    padding-bottom: 0;
    width: 6em;
}
@media screen and (min-width: 480px) {
.info dt {
    clear: left;float: left;
}
.info dd {
    margin-left: 0.5em;
}
}


